{% extends "base.html" %}
{% load static %}

<!-- Loads wagtail template tags -->
{% load wagtailcore_tags %}

<!-- Loads sidebar template tag -->
{% load sidebar %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}"> -->
{% endblock extra_css %}

{% block content %}

</div>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

      <div class="blog-post border-top">
        <h2 class="blog-post-title">{{ page.title }}</h2>
        <div class="mt-4">
          <!-- richtext tag escapes and displays the body field -->
          {{ page.body|richtext }}
        </div>

      </div><!-- /.blog-post -->


    </div><!-- /.blog-main -->
    
    <!-- SIDEBAR - CALLED FROM home/templatetags/sidebar.py -->
    {% get_sidebar %}

  </div><!-- /.row -->

</main><!-- /.container -->

  

{% endblock content %}
