{% load static wagtailuserbar compress %}
<!-- Template tag created in home/templatetags/home_menu.py -->
{% load home_menu %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        {% compress css %}
        <link type="text/x-scss" href="{% static 'css/bootstrap/bootstrap.scss' %}" rel="stylesheet" media="screen">
        {% endcompress %}

        {# Global stylesheets #}
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}


    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <!-- SITE MENU --->
        <!-- FROM TEMPLATE TAG IN - home/templatetags/home_menu.py -->
        <div class="container">
          {% get_menu %}
        </div>

        <!-- MAIN CONTENT -->
        {% block content %}{% endblock %}

        <!-- FOOTER -->
        {% include "footer.html" %}

        {# Global javascript #}

        <!-- Only load vue.js on blog-search page -->
        {% if page %}
          {% if page.title == "Blog Search" %}
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
          {% endif %}
        {% endif %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
