{% extends "base.html" %}
{% load wagtailcore_tags %}

<!-- Loads sidebar template tag -->
{% load sidebar %}

{% block body_class %}template-blogsearchpage{% endblock %}

{% block content %}

<!-- Using Django context variable inside Vue.js element -->
{{ blog_posts_JSON|json_script:"blog_posts_JSON" }}

</div>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

      <div class="blog-post border-top">
        <h2 class="blog-post-title mt-4">{{ page.title }}</h2>
        <div class="mt-4">

          <!-- Vue js -->

          <div id="blogSearchInput">
            <p><input v-model="message" type="search"></p>
            <p>Searching for posts containing:<br><strong>[[ message ]]</strong></p>
            <button class="btn btn-primary" v-on:click="searchPosts">Search Posts</button>
          </div>

          <div id="displaySearchResults">

          </div>
                    
        </div>
      </div><!-- /.blog-post -->

      

    </div><!-- /.blog-main -->
    
    <!-- SIDEBAR - CALLED FROM home/templatetags/sidebar.py -->
    {% get_sidebar %}

  </div><!-- /.row -->

</main><!-- /.container -->

{% endblock %}