{% extends "base.html" %}
{% load wagtailcore_tags %}

<!-- Loads sidebar template tag -->
{% load sidebar %}

{% block content %}
</div>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

      <div class="blog-post border-top">
        <div class="mt-4">
          {% if request.GET.tag|length %}
            <h4>Showing pages tagged: "{{ request.GET.tag }}"</h4>
          {% endif %}

          {% for page in blog_pages %}
            <p>
              <strong><a href="{% pageurl page %}">{{ page.title }}</a></strong><br />
              <small>Revised at: {{ page.latest_revision_created_at }}</small><br />
              {% if page.author %}
                <p>By {{ page.author.profile }}</p>
              {% endif %}
            </p>

          {% empty %}
            No pages found with that tag.
          {% endfor %}
          
        </div>
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->
    
    <!-- SIDEBAR - CALLED FROM home/templatetags/sidebar.py -->
    {% get_sidebar %}

  </div><!-- /.row -->

</main><!-- /.container -->


{% endblock %}